.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.formulario input{
    margin: 0px 5px;
    padding: 10px;
}

.formulario span{
    margin: 0px 5px;
}

.formulario label{
    margin: 7px 5px;
}